<div class="container">
  <h1>Ruli</h1>
  <div class="container">
    <a href="https://github.com/RuliSlim"><i class="fab fa-github-alt"></i> Github</a>
    <a href="https://www.linkedin.com/in/rulislim/"><i class="fab fa-linkedin-in"></i> Linkedin</a>
    <a href="https://twitter.com/Total_Slim"><i class="fab fa-twitter"></i> Twitter</a>
    <a href="https://www.facebook.com/ruli.hayashi/"><i class="fab fa-facebook-f"></i> Facebook</a>
    <a href="https://www.instagram.com/total_slim/"><i class="fab fa-instagram"></i> Instagram</a>
  </div>
</div>